trigger: none

pool:
  name: "Default" # User specified local agent

# variables:
#   - name: SCRIPTS_HOME
#     value: $(Build.SourcesDirectory)/cli/scripts
#   - name: WORKSPACE
#     value: $(Build.SourcesDirectory)/workspace
#   # Default values for common script variables
#   - name: h1
#     value: "Content-Type: application/json"
#   - name: h2
#     value: "Accept: application/json"
#   - name: VERBOSE
#     value: "true"
#   - name: SLEEP_TIMER
#     value: "0.2"

extends:
  template: /ci-templates/azuredevops/pipelines/base_build_approval_deploy.yaml
  parameters:
    packageName: "BoomiPackage"
    packageVersion: "$(Build.BuildNumber)"
    notes: "Custom Pipeline Deployment"
    deployToQA: true
    deployToUAT: true
    deployToProd: true
    # Comma-separated component IDs to deploy
    componentIds: "dd185596-c539-4d31-97c5-1a46f13eafa4,8d4bd7c8-1071-4ba9-a697-8e5e21a6e229,2dcfe4f6-0a27-4ad3-afa8-67a873b1edd1"
    # Comma-separated test component IDs
    test_componentIds: "590ed42b-a6b5-4c73-a8f8-5dc2451514b7"
    branchName: "main"
