trigger:
  - main

pool:
  name: "Default" # User specified local agent

variables:
  - group: boomicicd
  - group: boomiruntime
  - name: SCRIPTS_HOME
    value: $(Build.SourcesDirectory)/cli/scripts
  - name: WORKSPACE
    value: $(Build.SourcesDirectory)/workspace
  # Default values for common script variables
  - name: h1
    value: "Content-Type: application/json"
  - name: h2
    value: "Accept: application/json"
  - name: VERBOSE
    value: "true"
  - name: SLEEP_TIMER
    value: "0.2"

steps:
  - script: |
      mkdir -p $(WORKSPACE)
      chmod +x $(SCRIPTS_HOME)/bin/*.sh
      chmod +x $(Build.SourcesDirectory)/ci-templates/azuredevops/pipelines/*.sh
    displayName: "Prepare Workspace and Scripts"

  - template: /ci-templates/azuredevops/pipelines/deploy_packages.yaml
    parameters:
      packageName: "BoomiPackage"
      packageVersion: "$(Build.BuildNumber)"
      notes: "Custom Pipeline Deployment"
      deployToQA: true
      deployToUAT: true
      deployToProd: false
      # Comma-separated component IDs to deploy
      componentIds: "590ed42b-a6b5-4c73-a8f8-5dc2451514b7"
      # Comma-separated test component IDs
      test_componentIds: ""
      branchName: "master"
